.answer {
  display: inline-block;
  min-width: 90px;
  line-height: 2em;
}

.ans-div {
  min-height: 2.1em;
}

.comment {
  white-space: pre-wrap;
}

.delete {
  display: none;
}

#filtered {
  padding: 0; min-height: 42px;
}

#filtered>.tag {
  margin: 10px 2px 10px 8px;
}

hr {
  margin: 6px 0;
}

.problem>button {
  font-size: 0.6em;
}

.problem-form {
  max-width: 500px;
}

.round-edit-toolbar {
  margin-bottom: 10px;
}

span.btn, .btn-secondary {
  background-color: #fff;
  border-width: 1px;
  border-color: #aaa;
  padding-bottom: 2px;
  padding-top: 2px;
}

.status-message {
  padding: 10px;
}

.status {
  padding: 6px;
}

#status_wrapper {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
}

.tag {
  margin: 2px;
}

.tag-cell {
  line-height:1.6em
}

.tags {
  margin-top: 4px;
}

/* stolen from http://johnny.github.io/jquery-sortable/css/application.css */
.sorted_table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.sorted_table tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  left: -5px;
  border-right: none;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.7;
  z-index: 2000;
}

.dragged .grip {
  display: none;
}

.grip {
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #888;
}

.grip-wrapper {
  margin-left: -4px;
  display: inline-block;
  line-height: 0px;
  cursor: grabbing;
  position: absolute;
  height: 100%;
}

.counter {
  margin-right: -4px;
}
