<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMCC Problem Database</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="static/jquery.dataTables.min.css">

    <!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="static/base.css">

    {% block head %}
    {% endblock %}
  </head>

  <body style="padding: 20px 0 20px 0">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- JQuery -->
    <script src="static/jquery-1.11.0.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="static/bootstrap.min.js"></script>

    <!-- MathJax -->
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']]
        },
        "HTML-CSS": {
           linebreaks: {automatic: true}
        }
      });
    </script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="static/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="static/dataTables.bootstrap.min.js"></script>

    {% block end %}
    {% endblock %}
  </body>
</html>

