<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMCCdb</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="static/jquery.dataTables.min.css">

    <!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="static/base.css">

    {% block head %}
    {% endblock %}
  </head>

  <body style="padding: 20px 0 20px 0">

    <div class="container">
      <span id="status_wrapper">
        {% for message in status %}
          <h4 align="center" class="status">
            <span class="label {{ message.1 }}" style="padding: 10px">
              {{ message.0 }}
            </span>
          </h4>
        {% endfor %}
      </span>
      {% block content %}
      {% endblock %}
    </div>

    <!-- JQuery -->
    <script src="static/jquery-1.11.0.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="static/bootstrap.min.js"></script>

    <!-- MathJax -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']]
        },
        "HTML-CSS": {
           linebreaks: {automatic: true}
        }
      });
    </script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="static/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="static/dataTables.bootstrap.min.js"></script>

    <!-- Fades status messages -->
    <script>
      $(document).ready(function () {
        $(".status").delay(2000).fadeOut("slow");
      });

      function addStatus(message, style, time){
        time = (typeof time == 'undefined' ? 2000 : time);
        var id = Math.floor((Math.random() * 10000) + 1); 
        var status = '<h4 align="center" class="status" id="' + 
                     id + '"><span class="label status-message ';
        status += style + '">' + message + '</span></h4>';
        $(status).appendTo('#status_wrapper');
        setTimeout(function(){
          $('#' + id).fadeOut('slow')
        }, time);
      }
    </script>

    {% block end %}
    {% endblock %}
  </body>
</html>

