{% extends "base.html" %}

{% block content %}
  {% include "navbar.html" %}
  <div class="page-header"><h1>{{ round.year }} {{ round.name }}</h1></div>
  <span>Drag and drop to reorder!</span>
  <div class="btn-toolbar pull-right round-edit-toolbar">
    <button class="btn" id="tex">to TeX</button>
    <button class="btn" id="pdf">to PDF</button>
    <button class="btn btn-primary" id="save">Save</button>
  </div>
  <table id="round" class="table table-bordered sorted_table">
    <col width="42">
    <thead>
      <tr>
        <td>#</td>
        <td>Problems</td>
      </tr>
    </thead>
    <tbody id="round-body">
      {% for problem in problems %}
      <tr>
        <td class="handle">
          <span class="grip-wrapper">
            <span class="grip"></span><br>
            <span class="grip"></span><br>
            <span class="grip"></span>
          </span>
          <a class="prob-link" href="javascript:void(0)">
            <span class="counter pull-right">{{ forloop.counter }}</span>
          </a>
          {% if problem %}
            <pre class="raw" hidden>{{ problem.problem }}</pre>
          {% else %}
            <pre class="raw" hidden></pre>
          {% endif %}
        </td>
        {% if problem %}
          <td>
            <div class="problem" id="{{ problem.key.id }}">
              {{ problem.problem }}
            </div>
            <hr>
            <div class="tags">
              <span class="btn btn-xs">{{ problem.author }}</span>
              {% if problem.difficulty %}
                <span class="btn btn-xs">{{ problem.difficulty }}</span>
              {% else %}
                <span class="btn btn-xs">?</span>
              {% endif %}
              {% for tag in problem.tags %}
                <span class="btn btn-xs">{{ tag }}</span>
              {% endfor %}
            </div>
          </td>
        {% else %}
          <td>
            <form class="add-form problem" id="1">
              <input type="text" class="form-control" name="id" placeholder="Problem ID"></input>
            </form>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block end %}
  <script src="static/latex_to_HTML.js"></script>

  <!-- JQuery Sortable -->
  <script src="static/jquery-sortable.min.js"></script>

  <script>
    var round_name = '{{ round.name }}';
    var round_id = {{ round.key.id }};
    var round_year = '{{ round.year }}';
    var last_update = "{{ date }}";
  </script>
  <script src="static/edit_round.js"></script>
{% endblock %}

