{% extends "base.html" %}

{% block content %}
  {% include "navbar.html" %}
  <div class="page-header"><h1>{{ round.year }} {{ round.name }}</h1></div>
  <div>Drag and drop to reorder!</div>
  <span class="checkbox" style="display: inline-block;">
    <label><input type="checkbox" id="solution-checkbox"/>Show solutions</label>
  </span>
  <div class="btn-toolbar pull-right round-edit-toolbar">
    <button class="btn" id="tex">to TeX</button>
    <button class="btn" id="pdf">to PDF</button>
    <button class="btn btn-primary" id="save">Save</button>
  </div>
  <table id="round" class="table table-striped table-bordered sorted_table">
    <col width="42">
    <thead>
      <tr>
        <td>#</td>
        <td>Problems</td>
      </tr>
    </thead>
    <tbody id="round-body">
      {% for problem in problems %}
        <tr>
          <td class="handle">
            <span class="grip-wrapper">
              <span class="grip"></span><br>
              <span class="grip"></span><br>
              <span class="grip"></span><br>
              <span class="grip"></span>
            </span>
            <a class="prob-link" href="javascript:void(0)">
              <span class="counter pull-right">{{ forloop.counter }}</span>
            </a>
          </td>
          {% if problem %}
            <td>
              <div class="problem" id="{{ problem.key.id }}">
                {{ problem.problem }}
              </div>
              <hr>
              <div class="solution" id="{{ problem.key.id }}-solution" hidden>
                {{ problem.solution }}
              </div>
              <hr class="solution" hidden>
              <div class="tags">
                <span class="btn btn-xs disabled tag">{{ problem.author }}</span>
                {% if problem.difficulty %}
                  <span class="btn btn-xs disabled tag">{{ problem.difficulty }}</span>
                {% else %}
                  <span class="btn btn-xs disabled tag">?</span>
                {% endif %}
                {% for tag in problem.tags %}
                  <span class="btn btn-xs disabled tag">{{ tag }}</span>
                {% endfor %}
              </div>
            </td>
          {% else %}
            <td>
              <form class="add-form problem" id="1">
                <input type="text" class="form-control" name="id" placeholder="Problem ID" />
              </form>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block end %}
  <script src="static/latex_to_HTML.js"></script>

  <!-- JQuery Sortable -->
  <script src="static/jquery-sortable.min.js"></script>

  <script>
    var round_name = '{{ round.name }}';
    var round_length = {{ round.length }};
    var round_id = {{ round.key.id }};
    var round_year = '{{ round.year }}';
    var last_update = "{{ date }}";

    // oops, hardcoding...
    var round_points;
    var round_time;
    if(round_name == "Speed"){
      round_points = 2;
      round_time = 30;
    }
    if(round_name == "Accuracy"){
      round_points = 5;
      round_time = 40;
    }
    if(round_name == "Team"){
      round_points = 18;
      round_time = 45;
    }
    if(round_name == "Guts"){
      round_points = "a varying number of";
      round_time = 75;
    }
  </script>
  <script src="static/edit_round.js"></script>
  <script src="static/latex_template.js"></script>
{% endblock %}
