<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMCC Problem Database</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">

    <!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="static/base.css">
  </head>

  <body style="padding: 20px 0 20px 0">
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">EMCC Problem Database</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="page-header"><h1>Login</h1></div>
      <style>
        .form-control {
          margin-bottom: 5px;
        }
      </style>
      <form method="post" class="form" id = "login">
        <p>Login with your Exeter username and password.</p>
        <input autofocus="" class="form-control" maxlength="254" name="username" placeholder="Username" required="" type="text" />
        <input class="form-control" maxlength="4096" name="password" placeholder="Password" required="" type="password" />
        <input type="submit" class="btn btn-primary btn-block" value="Sign in">
      </form>
    </div>

    <!-- JQuery -->
    <script src="static/jquery-1.11.0.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
